@charset "euc-kr";
/* Tag Template 공용 ***********************************************************************/

* html {
	overflow: scroll;
	overflow-x: auto;
}/* [IE] 프레임안의가로스크롤문제해결 */
html, body {
	margin: 0;
	padding: 0;
/*	background: url(/img/inc/bg.gif);*/
}/* [IE] 배경색을지정해서화면이뭉개지는문제해결 */

/* Tag Definition */
body {
	color: #555;
	font-size: 75%;
	font-family: 굴림, Dotum, sans-serif;
	line-height: 1.5;
}/* 12px/16px = .75 */
/* line-height 단위 없으면 자신의 font-size 배율을 따라간다. 19px/12px = 1.58333 ≒ 1.59 (소수점3째자리에서 올림) */
body.white {
	background: #fff;
}
table, pre {
	font-size: 1em;
	font-family: 돋움, Dotum, sans-serif;
	line-height: 1.59;
}/* DOCTYPE 없으면 속성 상속 안되는것들 */
a, a:link {
	color: #06c;
	text-decoration: none;
	cursor: pointer;
}
a:visited {
	color: #369;
}
a:hover, a:active, a:focus {
	color: #590;
	text-decoration: underline;
}/* a:focus추가 */
img {
	margin: 0;
	border: 0;
}
img.png24 {
	tmp: expression(setPng24(this));
}/* [IE6] PNG-24 투명 이미지  */
hr {
	display: none;
}/* 구분용 */

/* Tag목록(List) */

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	margin: 0;
	padding: 0;
}
ul ul, ul ul ul, ul ul ul ul {
	padding: 0 0 0.5em 0;
}
/* 중첩 목록 마크업 문법
 <ul>
 <li>
 <ul>
 <li></li>
 </ul>
 </li>
 </ul>
 */
ol {
}
dl, dt, dd {
	margin: 0;
	padding: 0;
}

/* Layout ***********************************************************************/
/* 서브페이지와 공통부분만.. #sidebar, #body_head, #body_foot 자식 요소는 제외된다. */

#skipnavigation {
	display: none;
}/* 스킵네비게이션 */
#skipnavigation h3 {
	display: none;
}

#container-outer {
	width: 100%;
	margin: 0 auto;
}
#container {
	width: 868px;
	margin: 0 auto;
}/* 전체내용을담는것 */

#head {
	clear: both;
	position: relative;
	width: 868px;
	height: 126px;
	margin: 0 auto;
}
#wrap {
	clear: both;
	position: relative;
	width: 860px;
	margin: 0 0 0 4px;
	overflow: hidden;
	padding: 0;
/*	background: url(/img/inc/wrap_bg.gif) repeat-y;*/
}

#sidebar {
	float: left;
	display: inline;
	position: relative;
	width: 210px;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 4;
}
#body {
	float: left;
	display: inline;
	width: 650px;
	margin: 0;
	padding: 0;
/*	background: url(/img/inc/body_bg_.gif) no-repeat*/
}
#body_head {
	clear: both;
	position: relative;
	width: 650px;
	height: 49px;
	margin: 164px 0 0 0;
	padding: 0;
/*	background: url(/img/inc/body_head_bg.gif) no-repeat;*/
	z-index: 3;
}
#body_content {
	clear: both;
	position: static;
	width: 630px;
	min-height: 300px;
	margin: 0;
	padding: 0 20px 10px 0;
}
* html #body_content {
	height: 300px;
}
/* position: relative; 하면 IE에서자식요소의배경이잘안보일때가있어 static(초기값)으로수정   */

#body_foot {
	clear: both;
	position: relative;
	width: 650px;
	height: auto;
	margin: 10px 0;
}
#foot {
	clear: both;
	position: relative;
	width: 860px;
	height: 140px;
	margin: 0 auto;
/*	background: url(/img/inc/foot_bg.gif) no-repeat;*/
}
#wing {
	position: absolute;
	left: 817px;
	top: 103px;
	z-index: 1;
}

/* 공통UI부분초기화(#body_content, #body_head 제외), 상속되는 속성 지정시 주의! */
#head *, #sidebar *, #body_foot *, #foot *, #wing *, body.main * {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
}

/* #head El **********/

#logo {
	position: absolute;
	left: 4px;
	top: 0px;
	height: 0px;
}

#globalmenu {
	position: absolute;
	right: 4px;
	top: 0px;
	width: 640px;
	height: 30px;
}
#globalmenu h3 {
	display: none;
}
#globalmenu ul {
	display: inline;
	float: right;
	margin: 8px 70px 0 0;
	padding: 0;
	list-style: none;
}
#globalmenu ul li {
	display: inline;
	float: left;
	margin: 0;
	padding: 0 6px 0 7px;
	height: 30px;
/*	background: url(/img/inc/gm_sep.gif) no-repeat 0 1px;*/
	letter-spacing: -1px;
	line-height: 1.25;
}
#globalmenu ul li a {
	color: #333;
}
#globalmenu ul li.em a {
	color: #195CBC;
}
#globalmenu ul li.nosep {
	background: transparent;
}
#globalmenu .login {
	position: absolute;
	right: 0;
	top: 4px;
}
/* 시계 */

#clock {
	position: absolute;
	right: 34px;
	top: 33px;
	color: #38c;
	font-size: 1em;
	line-height: 1.28;
}
#clock strong {
	color: #333;
	font-weight: normal;
}
/* 날씨 */

#weather {
	position: absolute;
	right: 4px;
	top: 27px;
	width: 22px;
	height: 22px;
	overflow: hidden;
}
/* 주메뉴 */

#topmenu {
	position: absolute;
	left: 0;
	top: 56px;
	width: 868px;
	height: 69px;
	margin: 0;
	padding: 0;
/*	background: url(/img/inc/top1bg.gif) no-repeat;*/
}
#topmenu h3 {
	display: none;
}
#topmenu ul {
	list-style: none;
	position: absolute;
	left: 30px;
	top: 0;
	height: 69px;
	margin: 0;
	padding: 0;
}
#topmenu li {
	margin: 0;
	padding: 0;
}
#topmenu ul li {
	float: left;
	display: inline;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
#topmenu ul li a {
	display: block;
	margin: 0;
	padding: 0;
	color: #fff;
	line-height: 1.25;
}
#topmenu ul li a.hover, #topmenu ul li a:focus {
	text-decoration: underline;
	margin: 0;
	padding: 0;
}
#topmenu ul ul {
	display: none;
	clear: both;
	position: absolute;
	left: 0;
	top: 38px;
	width: 845px;
	height: 32px;
	margin: 0;
	padding-left: 15px;
	list-style: none;
}
#topmenu ul ul li {
	float: left;
	display: inline;
	height: 16px;
	padding: 9px 4px 0px 4px;
	text-align: left;
	line-height: 1.25;
	white-space: nowrap;
}
#topmenu ul ul li.first {
}
#topmenu ul ul li a {
	display: block;
	padding: 0 6px;
	color: #333;
	letter-spacing: -1.5px;
}
#topmenu ul ul li a.on, #topmenu ul ul li a:hover {
	font-weight: bold;
	padding: 0 6px;
	letter-spacing: -1.5px;
	text-decoration: underline;
}
#topmenu ul ul#top2m1 {
	width: 822px;
	padding-left: 0px;
}
#topmenu ul ul#top2m2 {
	width: 822px;
	padding-left: 0px;
}
#topmenu ul ul#top2m3 {
	width: 822px;
	padding-left: 0px;
}
#topmenu ul ul#top2m4 {
	width: 822px;
	padding-left: 0px;
}
#topmenu ul ul#top2m5 {
	width: 822px;
	padding-left: 0px;
}
#topmenu ul ul#top2m6 {
	width: 842px;
	padding-left: -20px;
}
#topmenu ul ul#top2m6 li {
	float: left;
	display: inline;
	height: 16px;
	padding: 9px 0px 0px 0px;
	text-align: left;
	line-height: 1.25;
	white-space: nowrap;
}
ul#top1ma {
	position: absolute;
	left: 774px;
	top: 56px;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul#top1ma li {
	float: left;
	display: inline;
	margin: 0;
	padding: 0;
}
ul#top1ma li a {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}
ul#top1ma li img {
	vertical-align: top;
}
/* visual El **********/

#visual {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0;
	margin: 0 auto;
}
#visual_flash {
	position: absolute;
	left: 0;
	top: 0;
}

/* foot El **********/
#foot_logo {
	position: absolute;
	left: 22px;
	top: 58px;
}

#foot_info {
	position: absolute;
	left: 190px;
	top: 42px;
	color: #777;
	line-height: 1.5;
}
#foot_info h4 {
	display: none;
}
#foot_info address {
	font-style: normal;
}
#foot_info cite {
	font-style: normal;
}
#foot_info img {
	margin: 0 0 -2px 0;
}
/* wing El **********/

#floating {
	position: absolute;
	z-index: 101;
}

/* [새창]레이아웃 */
body#openwin {
	background: #fff;
}
body#openwin #container {
	min-height: 100%;
	margin: 0 0 -26px 0;
	padding: 0;
	background: #fff;
}
* html body#openwin #container {
	height: 100%;
}
body#openwin #container #body_content {
	width: auto;
	min-height: 0;
	margin: 0;
	padding: 0 0 26px 0;
	border: 0;
	background: #fff;
}
/* min-height: 0; 초기값이다. auto 라는 속성값은 없음.. FF, Op 에서 auto 는 100% 로 해석해버림 */

* html body#openwin #body_content {
	height: auto;
}
body#openwin h1 {
	clear: left;
	margin: 0 auto;
	padding: 0;
	background: transparent;
	font-weight: normal;
	font-size: 1em;
	text-align: center;
}
body#openwin h2 {
	width: auto;
}
body#openwin .close {
	position: relative;
	width: auto;
	height: 26px;
	padding: 0 12px 0 0;
	background: #9ea2a5;
	text-align: right;
	overflow: hidden;
}
body#openwin .close img {
	cursor: pointer;
}
/* 텍스트링크일때 : body#openwin .close a { display: block; position: absolute; right: 0; top: 0; width: 60px; height: 26px; line-height: 26px; color: #fff !important; } */

/* [메일]레이아웃 - 비표준모드 */
.mail_wrap {
	width: 718px;
	height: auto;
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
	border-width: 0 1px;
	background: #fff;
	font-weight: normal;
	font-size: 12px;
	font-family: "돋움";
}
.mail_wrap h1 {
	margin: 0;
	padding: 0;
}
.mail_wrap .m-container {
	margin: 0;
	padding: 0 13px;
}
.mail_wrap .m-container table {
	width: 676px;
}
.mail_wrap .foot {
	clear: both;
	position: relative;
	width: 100%;
	height: 97px;
/*	background: transparent url(/img/inc/foot_bg.gif) repeat-x 0 -31px;*/
	margin: 0;
}
.mail_wrap .foot_logo {
	position: absolute;
	left: 40px;
	top: 39px;
}
.mail_wrap .foot_info {
	position: absolute;
	left: 170px;
	top: 42px;
	color: #666;
	font-size: 0.92em;
	letter-spacing: 0;
}
.mail_wrap .foot_info address {
	display: inline;
}
.mail_wrap .foot_info span.tel {
	margin: 0 0 0 1em;
}
.mail_wrap .foot_info span.email {
	margin: 0 0 0 1em;
}
.mail_wrap .foot_info span.email img {
	margin: 0 0 -2px 0;
}
.mail_wrap .foot_info div.copyright {
	font-size: 0.92em;
	font-family: "Tahoma";
	color: #888;
}
