@charset "euc-kr";
/* Layout ***********************************************************************/
/* 서브페이지 부분만.. #sidebar, #body_head, #body_foot 자식 요소. */

#visual_img { position: absolute; left: 0; top: 0; width: 860px; height: 178px; padding:0; margin:0 auto; z-index: 1; }

/* sidebar El **********/

/* 부메뉴 **********/

/* 부 메뉴 */
#sidebar {  }
#sidebar h2#sidetitle { position: relative; width: 190px; height: 47px; margin: 151px 0 0 20px; padding: 0; background: transparent; z-index: 4; }
/* sidemenu2Depth+3Depth */
#sidemenu { width: 170px; padding: 9px 0 10px 20px; background: url(/img/inc/side/side_bg.gif) no-repeat 20px 100%; }
#sidemenu h3 { display: none; }
#sidemenu ul { width: 170px; margin: 0; padding: 0; background: transparent; }
#sidemenu ul li { width: 100%; margin: 0; line-height:1.25; background: url(/img/inc/side/side2mbg.gif) no-repeat 0 100%;}
#sidemenu ul li a { display: block; width: 145px; padding: 6px 0 4px 25px; color: #333333; background: url(/img/inc/side/side2mlibg.gif) no-repeat 14px 10px; font-weight:bold; }
#sidemenu ul li a.on, 
#sidemenu ul li a:hover { width: 145px; margin: 0; padding: 6px 0 4px 25px; color: #5DA500; background: url(/img/inc/side/side2mlibgon.gif) no-repeat 11px 7px; font-weight: bold; text-decoration:none; }
#sidemenu ul ul { width: 170px; margin:1px 0 0 0; padding: 0; background: #fff url(/img/inc/side/side3mbg.gif) 0 100%; }
#sidemenu ul ul li { margin: 0; padding: 0; line-height:1.25; background: transparent; }
#sidemenu ul ul li.first { margin: 0; padding: 6px 0 0 0; line-height:1.25; background: url(/img/inc/side/side3mbg_f.gif) no-repeat; }
#sidemenu ul ul li.last { margin: 0; padding: 0 0 5px 0; line-height:1.25; background: transparent; }
#sidemenu ul ul li a { display: block; width: 123px; margin: 0; padding: 2px 20px 2px 27px; color: #333333; background: url(/img/inc/side/side3mlibg.gif) no-repeat 19px 0; font-weight: normal; }
#sidemenu ul ul li a.on,
#sidemenu ul ul li a:hover { width: 123px; margin: 0; padding: 2px 20px 2px 27px; color: #FB7600; background: url(/img/inc/side/side3mlibg.gif) no-repeat 19px 0; font-weight: normal; }

#sm { position: relative; width: 150px; margin: 0 0 10px 21px; padding: 0; }
#sm ul { margin: 0; padding: 0; list-style: none; }
#sm ul li { display: inline; float: left; margin: 0 0 2px 0; padding: 0; line-height: 1.25; }
#sm ul li.first { margin: 0 0 5px 0; }
#sm ul li img { vertical-align: top; }


/* body_head El **********/
#body_title { position: absolute; left: 0px; top: 15px; }
#body_title h1 { margin: 0; padding: 0; background: transparent; }/* template.css 에 스타일정의 */
#location { position: absolute; right: 20px; top: -1px; padding: 0; z-index:1;}
#location a { color: #888888; }
#location a.on { color: #FB7600; font-weight:bold; }


/* body_foot El **********/

/* 페이지 책임자, 최종수정일 */
#charge { position: relative; left: 0; top: 0; width: 640px; height: 35px; background: url(/img/inc/charge_bg.gif) no-repeat; }
#charge h3 { display: none; }

#charge dl { padding: 10px 0 0 5px; color: #333; }
#charge dl dt,
#charge dl dd { display: inline; float: left; margin: 0 0 0 12px; }
#charge dl dd { margin: 0 1em 0 4px; }
#charge dl dt.manager {  }
#charge dl dd.manager {  }
#charge dl dt.update {  }
#charge dl dd.update { letter-spacing: 0; }
#charge dl .phone { margin: 0 0 0 4px; letter-spacing: 0; }

/* 페이지 유틸리티 */
#pageutil ul { position: absolute; right: 17px; top: 7px; z-index: 1; }
#pageutil h3 { display: none; }
#pageutil ul {  }
#pageutil ul li { display: inline; float: left; margin: 0 0 0 2px; }
#pageutil ul li img { vertical-align: top; }

#opinion { position: relative; left: 0; top: 0; width: 640px; height: 66px; background: url(/img/inc/opinion_bg.gif) no-repeat; }
#opinion h2,
#opinion legend { display: none; }
#opinion h3 { position: absolute; left: 0; top: 0; width: 85px; height: 66px; margin: 0; padding: 0; background: transparent; }
#opinion #opinion_q { display: none; }
#opinion dl {  }
#opinion dl dt.grade { position: absolute; left: 96px; top: 12px; width: 21px; height: 11px; margin: 0; padding: 0; background: url(/img/inc/opinion_t1.gif) no-repeat; text-indent: -2000px; }
#opinion dl dd.grade { position: absolute; left: 122px; top: 9px; *top: 8px; padding:0; margin:0; }
#opinion dl dd.grade label { margin: 0 .5em 0 0; padding:0; }
#opinion dl dd.grade img { vertical-align: middle; }
#opinion dl dt.answer { position: absolute; left: 96px; top: 36px; width: 21px; height: 11px; margin: 0; padding: 0; background: url(/img/inc/opinion_t2.gif) no-repeat; text-indent: -2000px; }
#opinion dl dt.answer label { position: absolute; left: 0px; top: 0px; width: 21px; height: 11px; display: block; }

#opinion input.text { position: absolute; left: 122px; top: 33px; width: 427px; padding: 2px 2px 0 2px; background: #eee url(/img/inc/opinion_textarea_bg.gif) no-repeat 0 50%; color: #777; border-color: #ccc; line-height: 1.25; border:1px solid #ccc; }
#opinion .image { position: absolute; right: 8px; top: 33px; }

/* Tag Template 본문 ***********************************************************************/

/* 보정 */
.h0 { clear: left; width: auto; height: auto; margin: 0; padding: 0; background: transparent; font-weight: normal; font-size: 1em; }/* 제목 초기화 */
.altcontents { display: none; } /* 대체콘텐츠 */
.png24 { tmp:expression(setPng24(this)); } /* [IE6] PNG-24 투명 이미지  */
.indent { margin-left: 1.3em; } /* 들여쓰기 */
img.vam { margin: 0 0 2px 0; vertical-align: middle; } /* 글자와 어울림 */
div.brclear { clear: both; height: 0; margin: 0; padding: 0; font-size: 0; line-height: 0; } /* float 해제 : 다른곳 적용시 줄간격 생김 */

/* Tag표제(Heading) */
#head h1 { margin: 0; padding: 0; } /* 사이트제목 */
#head h2, #sidebar h2, #body_head h2, #body_foot h2, #foot h2, #wing h2 { margin: 0; padding: 0; } /* 사이드제목 등 */
/* font-size 상대크기
small 1em = 13px
small 0.93em = 12px
small 0.93*0.92em = 11px
small 0.93*1.167em =  = 14px
small 0.93*1.334em = 16px
*/
/* 본문제목(3~8차메뉴) */

/* h1 { width: auto; height: auto; margin: 0; padding: 0 0 0 18px; background: url(/img/inc/h1bg.gif) no-repeat 0 2px; color: #000; font: bold 1.34em/1.19 돋움; letter-spacing: -1px; } */
h2 { clear: left; width: auto; height: auto; margin: 1em 0; padding: 2px 0 0 16px; background: url(/img/inc/h2bg.gif) no-repeat 0 3px; color: #00924F; font-weight: bold; font-size: 1em; text-align: left; letter-spacing: -1px; line-height: 1.25; }
h3 { width: auto; height: auto; margin: 1em 0; padding: 2px 0 0 14px; background: url(/img/inc/h3bg.gif) no-repeat 0 3px; color: #26c; font-weight: bold; font-size: 1em; text-align: left; letter-spacing: -1px; line-height: 1.25; }
h4 { width: auto; height: auto; margin: 1em 0; padding: 2px 0 0 14px; background: url(/img/inc/h4bg.gif) no-repeat 0 2px; color: #444; font-weight: bold; font-size: 1em; text-align: left; letter-spacing: 0; line-height: 1.25; }
h5 { width: auto; height: auto; margin: 1em 0; padding: 2px 0 0 14px; background: url(/img/inc/h5bg.gif) no-repeat 0 50%; color: #555; font-weight: bold; font-size: 1em; text-align: left; letter-spacing: 0; line-height: 1.25; }
h6 { width: auto; height: auto; margin: 1em 0; padding: 2px 0 0 14px; background: url(/img/inc/h6bg.gif) no-repeat 0 50%; color: #666; font-weight: bold; font-size: 1em; text-align: left; letter-spacing: 0; line-height: 1.25; }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { color: #555; font-weight: normal; letter-spacing: 0; }
.h2rSet /* h2제목 우측 메뉴 */ { margin: -2.58em 0 0 0; text-align: right; }

/* Tag문단(Paragraph) */
p { margin: 1.33em 0; padding:0; }
p.em { color: #06c; margin: 0; padding: 0; }

/* Tag목록(List) */
ul.bu { list-style: none; margin: 0; padding: 0 0 .5em 1.2em; text-align: left; }
ul.bu li { position: relative; margin: 0; padding: 0 0 0 1.2em; background: url(/img/all/bu_li1.gif) no-repeat 0 .25em; }
ul.bu ul li { background: url(/img/all/bu_li2.gif) no-repeat 0 .25em; }
ul.bu ul ul li { background: url(/img/all/bu_li3.gif) no-repeat 0 .25em; }
ul.bu ul ul ul li { background: url(/img/all/bu_li4.gif) no-repeat 0 .25em; }
ul.bu ul, ul.bu ul ul, ul.bu ul ul ul { list-style: none; margin: 0; padding: 0 0 .5em 0; }
td ul.bu { padding: .5em; }

ul.bu1 { margin: 0; padding: 0 0 0.5em 1.2em; list-style: none; text-align: left; }
ul.bu1 li { margin: 0; padding: 0 0 0 1.2em; background: url(/img/all/bu_li2.gif) no-repeat 0 0.2em; }
ul.bu1 ul li { background: url(/img/all/bu_li3.gif) no-repeat 0 0.2em; }
ul.bu1 ul ul li { background: url(/img/all/bu_li4.gif) no-repeat 0 0.2em; }
ul.bu1 ul, ul.bu1 ul ul { padding: 0 0 0.5em 0; }

ul.bu2 { margin: 0; padding: 0 0 0.5em 1.2em; list-style: none; text-align: left; }
ul.bu2 li { margin: 0; padding: 0 0 0 1.2em; background: url(/img/all/bu_li3.gif) no-repeat 0 0.2em; }
ul.bu2 ul li { background: url(/img/all/bu_li4.gif) no-repeat 0 0.2em; }
ul.bu2 ul ul li { background: url(/img/all/bu_li4.gif) no-repeat 0 0.2em; }
ul.bu2 ul, ul.bu1 ul ul { padding: 0 0 0.5em 0; }

ul.bu3 { margin: 0; padding: 0 0 0.5em 0; list-style: none; text-align: left; }
ul.bu3 li { margin: 0; padding: 0 0 0 1.2em; background: url(/img/all/bu_li2.gif) no-repeat 0 0.2em; }
ul.bu3 ul li { background: url(/img/all/bu_li3.gif) no-repeat 0 0.2em; }
ul.bu3 ul ul li { background: url(/img/all/bu_li4.gif) no-repeat 0 0.2em; }
ul.bu3 ul, ul.bu3 ul ul { padding: 0 0 0.5em 0; }

ul.dpi li { display: inline; }


ul.line { margin: 0; padding: 0 0; list-style: none; text-align: left; border: 1px solid #eee; border-width: 1px 0 0 0; }
ul.line li { margin: 0; padding: 0 0 0 1.2em; background: url(/img/all/bu_li1.gif) no-repeat 0 50%; border: 1px solid #e4e4e4; border-width: 0 0 1px 0; padding: 5px 0 3px 1.2em; }

ul.listn { margin: 0; padding: 0 0; list-style: none; text-align: left; }
ul.listn li { margin: 0; padding: 0 0 0 1.2em; padding: 5px 0 3px 1.2em; }

ol.num { list-style:none; margin:0; padding:0; }
ol.num li { background-repeat: no-repeat; background-position: 0 0.2em; padding: 0 0 0 2.2em; }
ol li.no_1 { background-image: url(image/n01.gif); }
ol li.no_2 { background-image: url(image/n02.gif); }
ol li.no_3 { background-image: url(image/n03.gif); }
ol li.no_4 { background-image: url(image/n04.gif); }
ol li.no_5{ background-image:  url(image/n05.gif); }
ol li.no_6 { background-image: url(image/n06.gif); }
ol li.no_7 { background-image: url(image/n07.gif); }
ol li.no_8 { background-image: url(image/n08.gif); }
ol li.no_9 { background-image: url(image/n09.gif); }
ol li.no_10 { background-image: url(image/n10.gif); }
ol li.no_11 { background-image: url(image/n11.gif); }
ol li.no_12 { background-image: url(image/n12.gif); }
ol li.no_13 { background-image: url(image/n13.gif); }
ol li.no_14 { background-image: url(image/n14.gif); }
ol li.no_15 { background-image: url(image/n15.gif); }
ol li.no_16 { background-image: url(image/n16.gif); }
ol li.no_17 { background-image: url(image/n17.gif); }
ol li.no_18 { background-image: url(image/n18.gif); }
ol li.no_19 { background-image: url(image/n19.gif); }
ol li.no_20 { background-image: url(image/n20.gif); }
ol.line li { border-bottom: 1px solid #eee; padding: 4px 0 2px 2.2em; background-position: 0 0.5em; }
ol.line li ul.bu li { border: none; padding: 0 0 0 1.2em; background-position: 0 0.2em; }

dl.bu { margin: 0; padding: 0.5em 0; }
dl.bu dt { margin: 0; padding: 0 0 0 1.2em; background: url(/img/all/bu_li1.gif) no-repeat 0 0.2em; font-weight: bold; }
dl.bu dd { margin: 0; padding: 0 0 0.5em 1.2em; }

dl.t1 { border-top: 1px dashed #ccc; }
dl.t1 dt { margin: 0; padding: .5em 0 0 0; }
dl.t1 dd { margin: 0; padding: 0 0 .5em 0; border-bottom: 1px dashed #ccc; }


/* Tag구문(Construction) */
strong { font-weight: bolder; } /* 강조 */
em { font-style: normal; color: #f60; } /* 강조 */
em em { color: #c39; } 
blockquote { margin: 1em 0; padding: 0; font-weight: bold; font-size: 1.167em; color: #369; background: url(/img/all/blockquote_begin.gif) no-repeat; }
blockquote span { margin: 0; padding: 0 1.5em; background: url(/img/all/blockquote_end.gif) no-repeat right bottom; }
q { margin: 1em 0; padding: 0; font-weight: bold; font-size: 1.167em; color: #369; background: url(/img/all/blockquote_begin.gif) no-repeat left 0; }
q span { margin: 0; padding: 0.5em 1.5em; background: url(/img/all/blockquote_end.gif) no-repeat right 0; }

/* Tag기타 */
pre { margin: 1em 0; } /* 형식을가지고있는컨텐츠 */
ins {} /* 추가 */
del { text-decoration: line-through; color: #999; } /* 삭제 */
address { font-style: normal; color: #666; } /* 주소 */


/* contenttabmenu **********/
#contenttabmenu { width: 100%; margin: 0 0 10px 0; }
#contenttabmenu ul { margin: 0; padding: 0 0 0 0; list-style: none; height: 27px; border-bottom: 1px solid #c8c8c8; }
#contenttabmenu ul li { display: inline; float: left; margin: 0 1px 0 0; padding: 0 0 0 5px; background: transparent url(/img/inc/ctabmbg.gif) no-repeat 0 0; border: 1px solid #bbb; border-width: 0; border-color: #ccc #bbb #bbb #ccc; }
#contenttabmenu ul li a { display: block; _display: inline-block; padding: 6px 10px 5px 5px; background: transparent url(/img/inc/ctabmbg.gif) no-repeat 100% 0; color: #555; font-weight: normal; line-height: 1.25; cursor: pointer; }
#contenttabmenu ul li.on { background-position: 0 -100px; }
#contenttabmenu ul li.on a { background-position: 100% -100px; color: #fff; }


/* contentmenu **********/
.contentmenu { margin: 0 0 1em 0; padding: 1px; border: 2px solid #888; text-align: left; }
.contentmenu_wrap { padding: 13px 0px 10px 0px; border: 1px solid #bbb; overflow: auto; }
.contentmenu ul { width: 100%; margin: 0; padding: 0; list-style: none; }
.contentmenu ul li { display: inline; float: left; width: 23%; margin: 0 1em 3px 5%; padding: 0 0 0 1.2em; background: url(/img/inc/cmbg.png) no-repeat 0 1px; line-height: 1.25; white-space: nowrap; }
.contentmenu ul li a { color: #000; }
.contentmenu ul li.on a { color: #f03; font-weight: normal; letter-spacing: 0; }
.contentmenu ul.col1 li { width: 95%; }
.contentmenu ul.col2 li { width: 40%; }
.contentmenu ul.col3 li { width: 23%; }
.contentmenu ul.col4 li { width: 15%; }
.contentmenu ul.col5 li { width: 10%; }
.contentmenu ul.col8 li { width: 4%; }


/* contentmenu2 **********/
#contentmenu2 { width: 100%; margin: 0 0 1.5em 0; padding: 10px 0 0 0; background: transparent url(/img/all/roundbox_bg.gif) no-repeat left top; text-align: left; }
#contentmenu2_wrap { display: table; table-layout: fixed; width: 100%; padding: 0 0 10px 0; background: transparent url(/img/all/roundbox_bg.gif) no-repeat left bottom; } /* float 의 parent-node 가 공간을 가지려면 display: table; table-layout: fixed; */
#contentmenu2 ul { list-style: none; margin: 3px 18px 0px 18px; padding: 0; }
#contentmenu2 ul li { float: left; display: inline; white-space: nowrap; background: url(/img/all/btn_bu.gif) no-repeat 0 1px; line-height: 1.25; }
#contentmenu2 ul li a { display: block; margin: 0 1em 3px 0; padding: 0 0 0 1.2em; }
#contentmenu2 ul.col1 li { width: 95%; }
#contentmenu2 ul.col2 li { width: 45%; }
#contentmenu2 ul.col3 li { width: 30%; }
#contentmenu2 ul.col4 li { width: 20%; }
#contentmenu2 ul.col5 li { width: 20%; }
#contentmenu2 ul.col8 li { width: 8%; }

/* 본문3차메뉴불릿 */
.conten2tmenu {  }
.conten2tmenu ul { width: 100%; margin: 0 0 1em 0; padding: 0; list-style: none; overflow: auto; }
.conten2tmenu li { margin: 0; padding: 0; background: transparent; }
.conten2tmenu ul li { float: left; display: inline; white-space: normal; margin: 0 .6em 0 0; padding: 0 0 0 1.1em; background: url(/img/all/bu06.gif) no-repeat 0 30%; } /* white-space: nowrap; 일때는 부모영역을 벗어남 */
.conten2tmenu ul li a { color: #000; }
.conten2tmenu ul li.on a { color: #f03; font-weight: bold; letter-spacing: -1px; }
.conten2tmenu ul.col1 li { width: 95%; }
.conten2tmenu ul.col2 li { width: 40%; }
.conten2tmenu ul.col3 li { width: 25%; }
.conten2tmenu ul.col4 li { width: 19%; }
.conten2tmenu ul.col5 li { width: 15%; }

/* white-space: nowrap; 일때는 부모영역을 벗어남 */
.contentmenu ul.col1 li { width: 95%; }
.contentmenu ul.col2 li { width: 40%; }
.contentmenu ul.col3 li { width: 25%; }
.contentmenu ul.col4 li { width: 19%; }
.contentmenu ul.col5 li { width: 15%; }
.contentmenu ul li a { margin: 0; padding: 0; }

.selectmenu { text-align: right; }


/* 박스block */
.box0 { border: 1px solid #ddd; padding: 0; margin: 0.5em 0; }
.box1 { border: 1px solid #e7e7e7; padding: 9px 12px 9px !important; }
.box2 { border: 2px solid #eee; padding: 9px 12px 9px !important; }
.box3 { border: 3px solid #f4f4f4; padding: 9px 12px 9px; }
.box4 { border: 4px solid #f7f7f7; padding: 9px 12px 9px; }
.box5 { border: 4px solid #f7f7f7; padding: 9px 12px 9px; background: url(/img/inc/box_bg.jpg) no-repeat 0 100%;}
.box6 { border: 0 solid ; padding: 12px 12px 12px; margin:10px 0 0; background: url(/img/inc/box_bg.gif) no-repeat 0 100%;}
.box7 { border: 10px solid #f7f7f7; padding: 0; }
.box8 { border: 1px solid #ddd; padding: 0; margin: 0; }

.box1bg { border: 1px solid #e7e7e7; padding: 9px 12px 9px; background: #fcfcfc; margin: 0.25em 0 0.5em 0; }
.box2bg { border: 2px solid #eee; padding: 17px 9px 12px 9px; background: #fcfcfc; }
.box3bg { border: 3px solid #f4f4f4; padding: 9px 12px 9px; background: #fcfcfc; }
.box4bg { border: 4px solid #f7f7f7; padding: 9px 12px 9px; background: #fcfcfc; }
* html .box1bg, * html .box2bg, * html .box3bg, * html .box4bg { height: 1%; }
/* [IE6] background: ; 속성은 blcok 일지라도 반드시 width 또는 height 가 auto 외의 값을 가져야됨 */

/* 유동폭둥근모서리상자 */
.boxa { width: 100%; background: #fff url(/img/all/boxa-bl.gif) no-repeat left bottom; }
.boxa-br { background: url(/img/all/boxa-br.gif) no-repeat right bottom; padding: 0 0 10px 0; }
.boxa-tl { background: url(/img/all/boxa-tl.gif) no-repeat left top; }
.boxa-tr { background: url(/img/all/boxa-tr.gif) no-repeat right top; padding: 10px 10px 0 10px; }
.boxa-tr2 { background: url(/img/all/boxa-tr.gif) no-repeat right top; padding: 10px 25px 0 25px; }
.boxa-tr3 { background: url(/img/all/boxa-tr.gif) no-repeat right top; padding: 25px 25px 15px 25px; }


.preamble { width: 100%; padding: 10px 0 0 0; background: transparent url(/img/all/roundbox_bg.gif) no-repeat left top; }
.preamble_wrap { width: 574px; padding: 0 10px 10px; background: transparent url(/img/all/roundbox_bg.gif) no-repeat left bottom; } /* float 의 parent-node 가 공간을 가지려면 display: table; table-layout: fixed; */

.scroll { overflow: auto;
scrollbar-face-color: #fff; scrollbar-track-color: #f7f7f7; scrollbar-arrow-color: #333; 
scrollbar-3dlight-color: #fff; scrollbar-highlight-color: #bbb; 
scrollbar-shadow-color: #bbb; scrollbar-darkshadow-color: #fff; 
scrollbar-width: 5px;
}

/* 플로우차트 */
table.flowchart { border-collapse: collapse; margin: 0; padding: 0; border-width: 0; width: 100%; }
table.flowchart td { vertical-align: middle; text-align: center; }
.sbox { border: 1px solid #3aa; background: #cee; padding: 8px 12px 6px; }
.anybox { border: 1px dotted #aaa; background: #eee; padding: 8px 12px 6px; }
img.sbox { padding: 0; }
img.anybox { padding: 0; }
.arrow { color: #099; }
table.flowchart td.nobox { vertical-align: top; text-align: left; padding: 8px 12px 6px; }

/* 플로우차트 */
img.floatLeft { float: left; display: inline; margin: 0 15px 15px 0; }
img.floatRight { float: right; display: inline; margin: 0 0 15px 15px; }
img.center { margin: 1em auto; text-align: center; display: block; } /* 인라인요소는 margin: 1em auto; 적용안됨  */
img.frame { border: 1px solid #ddd; padding: 4px; }
.floatLeft { float: left; display: inline; margin: 0 15px 15px 0; text-align: center; }
.floatRight { float: right; display: inline; margin: 0 0 15px 15px; text-align: center; }
.small { letter-spacing: -1px; }
.large { font-size: 1.167em; letter-spacing: -1px; }

.left { float: left; position: relative; padding: 4px 0; }
.right { float: right; position: relative; padding: 4px 0; }
.center { position: relative; text-align: center; padding: 4px 0; margin: 0 auto; }

span.blank { padding-left: 1em; } /* FF에서는 margin-left, padding-left 값만 적용됨 */
div.blank { float: left; width: 0; padding-left: 1em; } /* float 요소 간격 */

.line1 { border: 1px solid #e7e7e7; border-width: 0 0 1px 0; }
.line2 { border: 1px solid #e7e7e7; border-width: 1px 0; padding: 9px 0; }
.line_top { border: 1px solid #adc6e2; border-width: 1px 0 0 0; padding: 9px 0; }

div.dot { border-bottom : 1px dashed #ccc; } /* dotted --> dashed */
.dotbgt { background: (/img/all/dot.gif) repeat-x 0 0; width: 100%; padding: 1px 0 0 0; }
.dotbgb { background: (/img/all/dot.gif) repeat-x 0 100%;  }

.slogan { color: #069; font-weight: bold; font-size: 1.167em; }
.slogan strong { color: #906; font-weight: bold; font-size: 1.167em; }
.catchphrase {  }

.tix { text-indent: -5000px; height: 0; margin: 0; padding: 0; font-size: 0; line-height: 1; }

/* 셀렉트롤 [js] initSelect("selectId","optionId"); */
#selectId { position: relative; width: 160px; height: 23px; background: #fff; line-height: 1.25; z-index: 2; }
#selectId * { list-style: none; margin: 0; padding: 0; border: 0; background: transparent; }
#selectId h3 { display: inline; }
#selectId h3 a/* js생성 */ { display: block; position: relative; padding: 5px 6px 3px 0; background: #fff url(/img/inc/combo_bg.gif) no-repeat 100% 50%; color: #333; font-weight: normal; text-decoration: none; }
#selectId h3 a:hover { color: #039; }
#selectId h3 a span/* js생성 */ { padding: 0 2px 0 6px; background: #fff; }
#selectId div/* js생성 */ { position: absolute; width: 158px; border: 1px solid #bbb; background: #f7f7f7; }
#selectId div.on { background: #fff; }
#selectId #optionId { position: relative; left: 0; top: 0; width: 100%; margin-top: -24px; padding-top: 24px; border-top: 1px solid #bbb; background: transparent url(/img/all/b.gif); }
#selectId #optionId li { display: inline; }
#selectId #optionId li a { display: block; position: relative; padding: 4px 6px 2px; background: #fff; color: #000; text-decoration: none; }
#selectId #optionId li a:hover,
#selectId #optionId li a:focus { background: #777; color: #fff; }
#selectId #optionId li.on a { color: #f00; }


/* 개별조합속성클래스 */

.dpn { display: none; }
.dpb { display: block; }
.dpi { display: inline; }

.fl { float: left; display: inline; }
.fr { float: right; display: inline; }
.clb { clear: both; }

.wauto { width: auto; height: auto; }
.w100 { width: 100%; }
.w50 { width: 50%; }
.w33 { width: 33%; }
.w25 { width: 25%; }
.w20 { width: 20%; }

.mt1b1 { margin-top: 1em !important; margin-bottom: 1em !important; }
.mb1 { margin-top: 0.5em !important; margin-bottom: 0.5em !important; }
.mr-4p { margin-right: -4px; }
.mb-1 { margin-bottom: -1em; }


.pd0 { padding: 0 !important; }
.pd8 { padding: 8px !important; }
.pd1em { padding: 1em !important; }
.pd2em { padding: 2em !important; }

.bd0 { border: 0 !important; }
.bdb { border-bottom: 1px solid #ddd; }

.bca { border-color: #999; }
.bcb { border-color: #6cf; }
.bcg { border-color: #9c3; }
.bcy { border-color: #c96; }
.bcv { border-color: #99f; }
.bcc { border-color: #6cc; }

.bgfc { background: #fcfcfc; }
.bgf7 { background: #f7f7f7; }
.bgee { background: #eee; }
.bggy { background: #ce9; }
.bgyy { background: #ed9; }
.bgyd { background: #f4f4f4; text-align: center; font-weight: bold; }


.cn { color: #000; } /* 기본컬러와동일한색 */
.c0 { color: #000; }
.c3 { color: #333; }
.c6 { color: #666; }
.c9 { color: #999; }
.cf { color: #fff; }

.crr { color: #f03; }
.cyr { color: #f60; }
.cyy { color: #c70; }
.cgy { color: #6a0; }
.cgg { color: #096; }
.cbg { color: #099; }
.cbb { color: #069; }
.cpb { color: #66c; }
.cpp { color: #93c; }
.crp  { color: #c39; }
.crrb { color: #f03; font-weight: bold;  }
.cbbb { color: #0FABD4; font-weight: bold;  }
.cggb { color: #096;  font-weight: bold;}
.cgfb { color: #00924F; font-weight: bold;  }

.cg1b { color: #199BA7 ; font-weight: bold; }

.fwn { font-weight: normal; }
.fwb { font-weight: bold !important; }

.fs11 { font-size: .92em; }
.fs12 { font-size: 1em; }
.fs14 { font-size: 1.17em; }
.fs16 { font-size: 1.33em; }

.ffgm { font-family: 굴림; } 
.ffdm { font-family: 돋움; } 
.ffvdn { font-family: verdana; } 
.ffthm { font-family: tahoma; } 

.tdu { text-decoration: underline; }
.tdn { text-decoration: none; }

.tal { text-align: left !important; }
.tar { text-align: right !important; }
.tac { text-align: center !important; }

.vat, .vat td, .vat th { vertical-align: top; }
.vab, .vab td, .vab th { vertical-align: bottom; }
.vam, .vam td, .vam th { vertical-align: middle; }

.nowrap { white-space: nowrap !important; }
.onwrap { white-space: normal !important; }

.ls-1 { letter-spacing: -1px; } 
.ls-2 { letter-spacing: -2px; } 
.ls0 { letter-spacing: 0; } 
.ls1 { letter-spacing: 1px; } 

.lh01 { line-height: 0.1; }
.lh05 { line-height: 0.5; }
.lh10 { line-height: 1; }
.lh125 { line-height: 1.25; }
.lh15 { line-height: 1.5; }



/* 테이블(Table) */
table.layout { border-collapse: collapse; margin: 0; padding: 0; border-width: 0; }
table.layout td { padding: 0; border-width: 0 !important; vertical-align: top; }

.unit { text-align: right; margin: -1.4em 0 0 0; }
table caption { display: none; text-align: left; font-weight: bold; font-size: 1em; letter-spacing: 0; background: transparent url(/img/all/bu02.gif) no-repeat 0 0.8em; padding: 0.8em 0 0.4em 14px; margin: 0; } /* caption 태그는 숨김 */
table caption.on { display: block; } /* caption 태그는 숨김 */
table caption.on .unit { text-align: right; margin: -1em 0 0 0; font-weight: normal; }

table.t0 { border-collapse: collapse; width: 100%; margin: 3px 0 3px 0px; border: 1px solid #ddd; border-width: 0px; }
table.t0 tr { text-align: center !important; }
table.t0 th, table.t0 td { border: 0 !important; padding: 0 !important; width: 1%; }

table.t1 { border-collapse: collapse; width: 100%; margin: 3px 0 3px 0px; border: 1px solid #ddd; border-width: 0px; } 
table.t1 tr { text-align: center; }
table.t1 th, table.t1 td { border-bottom: 1px solid #eee; padding: 3px 6px 1px 6px; }
table.t1 td { padding: 6px; }
table.t1 th, table.t1 thead, table.t1 tfoot { background: #f4f4f4; font-weight: bold; }

table.t2 { border-collapse: collapse; width: 100%; margin: 3px 0 3px 0px; border: 1px solid #ddd; border-width: 1px; }
table.t2 tr { text-align: left; }
table.t2 th, table.t2 td { border: 1px solid #ddd; padding: 3px 6px 1px 6px; }
table.t2 thead th, table.t2 tfoot th { background: #f4f4f4; font-weight: bold; }
table.t2 th { background: #fcfcfc; font-weight: normal; text-align: inherit; }

table.t3 { border-collapse: collapse; width: 100%; margin: .5em 0px; border-top: 2px solid #3A8AE1; border-right-style: hidden; *border-right: 1px solid #fff; }
table.t3 tr {  } /* colgroup 으로 td 스타일제어하려면 tr에 정의  */
table.t3 th, table.t3 td { border: 1px solid #c8c8c8; border-width: 0 1px 1px 0; padding: 6px 6px 4px 6px; }
table.t3 thead, table.t3 tfoot { background: #f4f4f4; font-weight: normal; }
table.t3 thead th, table.t3 tbody th, table.t3 tfoot th { background: #f4f4f4; color: #666; font-weight: bold; text-align: center; vertical-align: middle; }
table.t3 thead.alt th, table.t3 tfootl.alt th { font-weight: normal; }
table.t3 th { background: #fcfcfc; font-weight: normal; text-align: inherit; }
table.t3 tr.alt th { background: #f8f7f3; }
table.t3 tr.alt td { background: #f8f7f3; }
table.t3 th.alt { background: #fff; }
table.t3 tr td.ctbg { background: #f4f4f4; text-align: center; font-weight: bold; }

table.t3c { border-collapse: collapse; width: 100%; margin: .5em 0px; border-top: 2px solid #3A8AE1; border-right-style: hidden; *border-right: 1px solid #fff; }
table.t3c tr {  } /* colgroup 으로 td 스타일제어하려면 tr에 정의  */
table.t3c th, table.t3c td { border: 1px solid #c8c8c8; border-width: 0 1px 1px 0; padding: 6px 6px 4px 6px; text-align: center; }
table.t3c thead, table.t3c tfoot { background: #f4f4f4; font-weight: normal; text-align: center; }
table.t3c thead th, table.t3c tbody th, table.t3c tfoot th { background: #f4f4f4; color: #666; font-weight: bold; text-align: center; vertical-align: middle; }
table.t3c thead.alt th, table.t3c tfootl.alt th { font-weight: normal; text-align: center; }
table.t3c th { background: #fcfcfc; font-weight: normal; text-align: inherit; text-align: center; }
table.t3c tr.alt th { background: #f8f7f3; text-align: center; }
table.t3c tr.alt td { background: #f8f7f3; text-align: center; }
table.t3c th.alt { background: #fff; text-align: center; }
table.t3c tr td.ctbg { background: #f4f4f4; text-align: center; font-weight: bold; }

table.t3 td.longtxt { text-align: left; white-space: normal; }
table.t3 td.item { width: 26px; background: #fff; text-align: center; }
table.t3 td.substance { text-align: left; white-space: normal; width: 100%; padding: 1em 6px; }

table.t3img { border-collapse: collapse; width: 100%; margin: 3px 0 3px 0px; border: 1px solid #adc6e2; border-width: 0 0 0 0; }
table.t3img tr { text-align: left; vertical-align: top; } /* colgroup 으로 td 스타일제어하려면 tr에 정의  */
table.t3img th, table.t3img td { border: 1px solid #dddddd; padding: 10px; }
table.t3img thead, table.t3img tfoot { background: #f4f4f4; font-weight: normal; }
table.t3img thead th, table.t3img tfoot th { background: #f4f4f4; font-weight: normal; text-align: center; }
table.t3img th { background: #fcfcfc; font-weight: normal; }
table.t3img tr.alt th { background: #f7f7f7; }
table.t3img colgroup.alt { text-align: center; }
table.t3img colgroup col.alt { text-align: center; }
table.t3img colgroup.alt col.alt { text-align: left; }


/* 임시 */
table.t4 { border-collapse: collapse; width: 100%; margin: 0; border: 1px solid #ccb; border-width: 0; font-size:11px; }
table.t4 tr {  } /* colgroup 으로 td 스타일제어하려면 tr에 정의  */
table.t4 th, table.t4 td { border: 1px solid #ccb; padding: 1px 2px 1px 2px; }
table.t4 thead, table.t4 tfoot { background: #f4f4f4; font-weight: normal; }
table.t4 thead th, table.t4 tfoot th { background: #eeece5; color: #666; font-weight: bold; text-align: center; vertical-align: middle; }
table.t4 thead.alt th, table.t4 tfootl.alt th { font-weight: normal; }
table.t4 th { background: #f8f7f3; font-weight: normal; text-align: inherit; }
table.t4 tr.alt th { background: #f8f7f3; }
table.t4 tr.alt td { background: #f8f7f3; }
table.t4 th.alt { background: #fff; }

table.pd8 th, table.pd8 td { padding: 8px 12px 5px 12px; }
table.pd6 th, table.pd6 td { padding: 6px 6px 3px 6px; }
table.pd4 th, table.pd4 td { padding: 4px 6px 2px 6px; }
table.pd3 th, table.pd3 td { padding: 3px 6px 1px 6px; }

table.pdt8 th, table.pdt8 td { padding-top: 8px; padding-bottom: 5px; }

/* 페이지 네비게이션 */
table.page_navi { clear: both; border-collapse: collapse; /* margin: 1em auto; */ padding: 0; border-width: 0; }
table.page_navi td { padding: 0; border-left: 1px solid #ddd; }
table.page_navi td span { display: inline-block; height: 12px; padding: 2px 6px 0;  background: transparent; line-height: 1.25; }
table.page_navi td a { display: inline-block; height: 12px; padding: 2px 6px 0;  background: transparent; line-height: 1.25; }
table.page_navi td a:hover { background-color: #f7f7f7; }
table.page_navi td.active a { color: #28d; font-weight: bold; cursor: default; text-decoration: none; }
table.page_navi td.pfirst { border: 0; }
table.page_navi td.pfirst a { background: url(/img/board/p_first.gif) no-repeat 0 50%; padding-left: 14px; }
table.page_navi td.pprev a { background: url(/img/board/p_prev.gif) no-repeat 0 50%; padding-left: 12px; }
table.page_navi td.pnext a { background: url(/img/board/p_next.gif) no-repeat 100% 50%; padding-right: 12px; }
table.page_navi td.plast a { background: url(/img/board/p_last.gif) no-repeat 100% 50%; padding-right: 14px; }
table.page_navi td.pfirst span { background: url(/img/board/p_first.gif) no-repeat 0 50%; padding-left: 14px; }
table.page_navi td.pprev span { background: url(/img/board/p_prev.gif) no-repeat 0 50%; padding-left: 12px; }
table.page_navi td.pnext span { background: url(/img/board/p_next.gif) no-repeat 100% 50%; padding-right: 12px; }
table.page_navi td.plast span { background: url(/img/board/p_last.gif) no-repeat 100% 50%; padding-right: 14px; }
/* 이미지 - 안씀 */
table.page_navi td.img { padding: 0; background: transparent; }
table.page_navi td.img a { padding: 0; }
table.page_navi td.img a:hover { background: transparent; }
table.page_navi td.img a img { vertical-align: middle; }

/*테이블 스케치이미지*/

#table_bg { width:600px; height:100%; padding:0; margin:0; background: url(/img/inc/top_sketch.gif) no-repeat 100% 0;  }
#table_bg ul.top { width:600px; padding:0; margin:0; }
#table_bg ul.top li { width:600px; margin-top:90px; background: transparent; }

/* 게시판(Board) Common Template ***********************************************************************/

/* form El Definition ***********************************************************************/
form { margin: 0; padding: 0; }
input,
select,
textarea,
button { margin: 0; padding: 0; 	font-size: 1em; font-family: 돋움, Dotum, sans-serif; line-height: 1.2; vertical-align: middle; } /* 입력폼에서 춤추지 않는 최소 줄간 1.2 */
select { height: 19px; } /* Opera보정 */
select, x:-moz-any-link, x:only-child {
height: 18px; /* FF, IE7 */
*height: auto; /* IE7 */
}
textarea { padding: 2px; border: 1px solid #c8c8c8; border-color: #c8c8c8 #c8c8c8 #c8c8c8 #c8c8c8; background: #f7f7f7; overflow: auto; }
/* textarea는 인라인요소 */
table caption { text-align: left; }
/* Class Base */
input.text { padding: 2px 0 0 2px; height: 15px; border: 1px solid #c8c8c8; border-color: #c8c8c8 #c8c8c8 #c8c8c8 #c8c8c8; background: #f7f7f7; }
input.file { padding: 2px 0 0 2px; height: 19px; border: 1px solid #c8c8c8; border-color: #c8c8c8 #c8c8c8 #c8c8c8 #c8c8c8; background: #f7f7f7; }
body:first-of-type input.file { border-width: 0; } /* Sf3 hack CSS ver3 valid */

input.radio, input.checkbox { margin: 0 0 1px 0; }

/* //form El Definition ***********************************************************************/

div.brclear { clear: both; height: 0; margin: 0; padding: 0; font-size: 0; line-height: 0; } /* 줄바꿈 - float 다음이 아니면 2라인 간격이 생김 */

/* float해제  */
.clear:after { content: "."; height: 0; visibility: hidden; display: block; clear: both; }
.clear { display: inline-block; }
* html .clear { height: 1%; }
.clear { display: block; }
/* //float해제  */

/* 버튼inline */
a.button,
input.button,
button.button { 
cursor: pointer; height: 19px;
/* border: 1px solid #bbb; border-color: #ccc #999 #999 #ccc; background: #fff url(/img/board/btn_bg.gif) no-repeat 0 50%; color: #444 !important; */
border: 1px solid #777; border-color: #999 #555 #555 #999; background: #777; color: #fff !important;
vertical-align: middle; white-space: nowrap;
padding: 3px 6px 2px 6px;
line-height: 1;
}
/* 버튼inline - IE버그 : a.button 의 margin-top: 4px; 이상이면 border-top 이 안보임
/* inline 요소는 margin-left margin-right 만 적용가능
/* width: 36+(글자수*12)px;
*/

:root a.button { padding: 3px 6px 1px 6px;  } /* FF */
a.button { *padding: 3px 6px 0px 6px; *display: inline-block; *height: 14px; *margin-bottom: 3px; } /* IE6, IE7 : 버튼테두리상하 안보였다하는 버그 inline-block으로 수정 */


:root input.button,
:root button.button { padding: 0 3px; line-height: 19px; /* FF */ }

img.button { cursor: pointer; vertical-align: middle; }

input.button,
button.button,
input.text,
input.file,
select,
textarea,
img.button { *margin: -1px 0 2px 0; }

input.button { 
*padding: 3px 0 2px !important; /* IE6, IE7  */
}
button.button { 
*margin-left: 4px !important; *padding: 2px 0px !important; /* IE6, IE7  */
}

.image { vertical-align: top; }

#pollpop { width: 100%; overflow:hidden; margin: 0; padding:0; }
#pollpop .logo { position: relative; width: 300px; height: 58px; margin: 0 0 0 14px; }
#pollpop .pop_view { position: relative; width: 100%; overflow:hidden; background: url(../../../image/fbg.gif) no-repeat 0 0; margin:0 14px 20px 14px; padding: 10px 0 0 0; }
#pollpop .pop_view_box { display: table; table-layout: fixed; width: 100%; background: url(../../../image/bbg.gif) no-repeat 0 100%; margin:0; padding: 0 0 30px 0; }
#pollpop .box { width:510px; overflow:hidden; margin: 0; padding: 0 20px; }
#pollpop .foot { clear:both; position: relative; width: 100%; margin: 20px 0 10px 14px; }
#pollpop .close { position:absolute; left: 495px; top: 30px; width:69px; padding:3px 0 3px 0; margin:0; line-height:1.25; }
.ccc { width: 98%; background-color: #f7f7f7; border: 1px solid #c8c8c8; }

.minic { background: #fff; padding: 10px; border: 2px solid #ddd; width: 470px; height: 380px;  }
.minic .boxs { width: 470px; height: 380px; list-style: none; overflow: auto; }
.minic .boxs table.t3 { border-collapse: collapse; width: 95%; margin: .5em 0px; border-top: 2px solid #3A8AE1; border-right-style: hidden; *border-right: 1px solid #fff; background: url(/img/05/board_name_bg.gif) no-repeat 0 0; }
.minic .boxs table.t3 tr {  } /* colgroup 으로 td 스타일제어하려면 tr에 정의  */
.minic .boxs table.t3 th, .minic .boxs table.t3 td { border: 1px solid #c8c8c8; border-width: 1px 1px 1px 1px; padding: 6px 6px 4px 6px; }
.minic .boxs table.t3 thead, .minic .boxs table.t3 tfoot { background: #f4f4f4; font-weight: normal; }
.minic .boxs table.t3 thead th, .minic .boxs table.t3 tbody th, .minic .boxs table.t3 tfoot th { background: #f4f4f4; color: #666; font-weight: bold; text-align: center; vertical-align: middle; }
.minic .boxs table.t3 thead.alt th, .minic .boxs table.t3 tfootl.alt th { font-weight: normal; }
.minic .boxs table.t3 th { background: #fcfcfc; font-weight: normal; text-align: inherit; }
.minic .boxs table.t3 tr.alt th { background: #f8f7f3; }
.minic .boxs table.t3 tr.alt td { background: #f8f7f3; }
.minic .boxs table.t3 th.alt { background: #fff; }

.minic { background: #fff; padding: 10px; border: 2px solid #ddd; width: 470px; height: 380px;  }
.minic .boxs { width: 470px; height: 380px; list-style: none; overflow: auto; }
.minic .boxs table.t3_1 { border-collapse: collapse; width: 95%; margin: .5em 0px; border-top: 2px solid #3A8AE1; background: url(/img/05/board_name_bg2.gif) no-repeat 0 0; }
.minic .boxs table.t3_1 tr {  } /* colgroup 으로 td 스타일제어하려면 tr에 정의  */
.minic .boxs table.t3_1 th, .minic .boxs table.t3_1 td { border: 1px solid #c8c8c8; padding: 6px 6px 4px 6px; }
.minic .boxs table.t3_1 thead, .minic .boxs table.t3_1 tfoot { /* background: #f4f4f4; */font-weight: normal; }
.minic .boxs table.t3_1 thead th, .minic .boxs table.t3_1 tbody th, .minic .boxs table.t3 tfoot th { /* background: #f4f4f4; */color: #666; font-weight: bold; text-align: center; vertical-align: middle; }
.minic .boxs table.t3_1 thead.alt th, .minic .boxs table.t3_1 tfootl.alt th { font-weight: normal; }
.minic .boxs table.t3_1 th { /* background: #fcfcfc;*/ font-weight: normal; text-align: inherit; }
.minic .boxs table.t3_1 tr.alt th { background: #f8f7f3; }
.minic .boxs table.t3_1 tr.alt td { background: #f8f7f3; }
.minic .boxs table.t3_1 th.alt { background: #fff; }
/* 링크-다운로드 */
a.download { width: 48px; height: 19px; padding: 0 0 0 1.1em; border-bottom: 1px dashed #999; 
background: transparent url(/img/all/file2.gif) no-repeat; color: #333; vertical-align: middle; white-space: nowrap; }

/* 링크-웹페이지 */
a.link { padding: 0 0 0 1.1em; color: #333; background: transparent url(/img/board/btn_bu.gif) no-repeat;
vertical-align: middle; white-space: nowrap; }

a.download strong, a.link strong { letter-spacing: -1px; }