@charset "euc-kr";

/* 게시판(Board) Begin ***********************************************************************/

.board { clear: both; width: 100%; margin: 0 auto; }
.board a,
.board a:link { color: #555; text-decoration: none; cursor: pointer; }
.board a:visited { color: #666; }
.board a:hover, a:active, a:focus { color: #000; text-decoration: underline; } /* a:focus추가 */

/* 게시판 전문 */
.board ul.bu { list-style: none; margin: 0; padding: 0 0 17px 0; text-align: left; }
.board ul.bu li { margin: 0; padding: 0 0 0 1.3em; background: url(/img/board/bu_li1.gif) no-repeat 0 0.2em; font-family: 돋움; }
.board ul.bu li em { color: #38d; font-style: normal; }

/* 게시판에서 유동폭둥근모서리상자 사용시 */
.board .boxa-tr { padding: 20px 20px 10px 20px; }
.board .boxa-tr table.basic { border-top-width: 0; }
.board .boxa-tr table.basic thead.tb th { border: 1px solid #ccc; }

/* 게시판 정보, 버튼메뉴 담기 - float해제 */
.board .infomenu { clear: both; position: relative; width: 100%; margin: 0; padding: 2px 0 5px; overflow: hidden; }
.board .infomenu strong { color: #f70; }

.board .left { float: left; position: relative; padding: 4px 0 0; }
.board .right { float: right; position: relative; padding: 4px 0 0; }
.board .center { position: relative; text-align: center; padding: 4px 0 0; margin: 0 auto; }

.board .totalpage { padding-left: 10px; background: url(/img/board/bu1.gif) no-repeat 0 45%; }
.board .totalpage em { color: #690; font-weight: bold; }

.board .imbar { clear: both; height: 34px; margin: 0 0 .75em 0; padding: 10px 0 0 /* .75em */ 0; border-bottom: 0 solid #eee; background: url(/img/board/page_bg.gif) no-repeat; color: #ccc; }
.board .imbar .left { padding-left: 20px; }
.board .imbar .right { padding-right: 20px; }

.board .bt_set { margin-top: -44px; }
.board .bt_set .left { padding-left: 20px; }
.board .bt_set .right { padding-right: 20px; }

/* 검색 */
.board .search { width: 100%; margin: 0; padding: 0; border-bottom: 0 solid #ddd; background: #fff; text-align: right; }
.board .search input.text {  }
.board .search button.button { width: 55px; height: 21px; border: 0; background: transparent url(/img/board/bt_search.gif) no-repeat; text-indent: -2000px; }/* Op에서 input 태그안의 value 는 text-indent가 적용안되어 button태그로 수정 */


/* 페이지네비게이션 담기 */
/* 
.board .page { clear: both; margin: 0 0 0.75em 0; padding: 0 0 0.75em 0; border-bottom: 0px solid #eee; color: #ccc; }
.board .page table.page_navi { margin: 0.75em auto 0; }
 */
/* 이전글다음글 */
.board .prevnext { clear: both; margin: 0; padding: 6px; border: 1px solid #ddd; border-width: 0; }
.board .prevnext .article { clear: left; margin: 0; padding: 0 0 0 10px; background: url(/img/board/bu2.gif) no-repeat 0 40%; font-weight: bold; }
.board .prevnext .article .subject { font-weight: normal; }


/*  ***********************************************************************/

/* 목록, 내용 */
.board table.basic { clear: both; border-collapse: collapse; width: 100%; margin: 2px 0 6px 0px; border-top: 3px solid #348AE1; border-bottom: 1px solid #c8c8c8; }
.board table.basic thead.tb tr,
.board table.basic tbody.tb tr { text-align: center; }
.board table.basic tbody.tb td,
.board table.basic tbody.tb th { padding: 5px 5px 4px; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; font-weight: normal; white-space: nowrap; }
.board table.basic thead.tb th { padding: 7px 5px 6px; border-bottom: 1px solid #c8c8c8; background: url(/img/board/th_bg.gif) no-repeat 100% 0; color: #38d; font-weight: bold; letter-spacing: -1px; line-height: 1.25; white-space: nowrap; }
.board table.basic thead.tb th.first { padding-left: 3px; border-left: 1px solid #c8c8c8; /* background: url(/img/board/thead_bg.gif) 0 0; */ }
.board table.basic thead.tb th.first div { padding-left: 5px; padding-right: 5px; }
.board table.basic thead.tb th.last { padding-right: 8px; background: url(/img/board/th_lbg.gif) 100% 0; }
.board table.basic tbody.tb td.first { padding-left: 8px; }
.board table.basic tbody.tb td.last { padding-right: 8px; }
.board table.basic tbody.tb td.subject { text-align: left; white-space: normal; } /* 제목 */
/* 내용 */
.board table.basic tbody td.substance { padding: 20px 0; } /* 본문 안에는 class="tb" 없이 코드 붙여넣은 스타일을 그대로 따라간다. */
.board table.basic tbody td.substance .substance_wrap { width: 610px; padding: 0 5px; overflow: auto; } /* 게시판 내용 가로폭 넘어갈 경우 IE6에서 레이아웃 오류 수정 */
.board table.basic tbody td.attach { text-align: left; padding: 7px 5px; border-top: 1px dashed #ccc; white-space: normal; } /* 첨부 */
.board table.basic tbody td.attach a { margin-left: 4px; }
.board em { color: #38d; font-weight: normal; }
/* 내용2 */
.board table.basic thead.tb th.subject { border: 1px solid #c8c8c8; border-width: 0 1px; background: url(/img/board/th_sbg.gif) no-repeat 100% 0; color: #555; text-align: center; white-space: normal; } /* 제목 - 내용에서제목추가 */
.board table.basic tbody.tb2 tr td { padding-left: 23px; background: url(/img/board/bu_th.gif) no-repeat 10px 40%; text-align: left;  }
.board table.basic tbody.tb2 tr td img { margin: 0 0 -1px 0; }
/* 글쓰기용 */
.board table.basic thead.write th.first { padding-left: 13px; text-align: left; }
.board table.basic tbody.write td { padding: 0 0 10px 0; text-align: left; }
/* 이전글다음글 */
.board table.prevnext { clear: both; border-collapse: collapse; width: 100%; margin: 6px 0 6px 0px; border-top: 2px solid #348AE1; border-bottom: 1px solid #c8c8c8; }

/* 목록 갤러리 */
.board .gallery { clear: both; margin: 2px 0 6px 0px; padding: 10px 0; border-top: 3px solid #348AE1; border-bottom: 1px solid #c8c8c8; text-align: center; }
.board .gallery table { border-collapse: collapse; width: auto; margin: 0 auto; }
.board .gallery table td { padding: 6px 5px; vertical-align: top; }
.board .gallery .frame { display: block; position: static; width: auto; height: auto; margin: 0; padding: 0; border:1px solid #c8c8c8; background: #fff; }
.board .gallery .picture { position: static; width: 120px; margin: 0; padding: 3px; border: 1px solid #ddd; background: #fff; }
.board .gallery .subject { display: block; width: 120px; margin: 0; padding: 3px; text-align: left; white-space: normal; background: transparent; }

/* 목록 웹진형 */
.board table.basic tbody.tb th.picture { width: 1%; padding: 10px 5px; }
.board table.basic tbody.tb th.picture img { padding: 3px; border: 1px solid #ddd; }
.board table.basic tbody.tb td.subject p { margin: 0; padding: 0; line-height: 1.2; }

/* 내용 이미지,플래시 */
.board table.basic .substance img.picture { display: block; margin: 1.8em auto 1.8em; padding: 6px; border: 4px solid #eee; }
.board table.basic .substance div.flash { display: block; width: 320px; height: auto; margin: 1.8em auto 1.8em; padding: 0; border: 4px solid #e4e4e4; }
/* 내용 동영상 - float해제 */
div.moviebox { width: 598px; margin: 1.8em auto 1.8em; padding: 0; border: 1px solid #d4d4d4; overflow: hidden; }
div.moviebox div.movie { float: left; display: inline; width: 320px; height: 310px; border: 4px solid #e4e4e4; }
div.moviebox div.caption { float: left; display: inline; width: 248px; height: 290px; padding: 9px; border: 4px solid #e4e4e4; border-left: 0; overflow: auto; }

/* 갤리리설명추가 */
div.photoView { width: 400px; margin: 0 auto; }
div.photoView img.picture { display: block; margin: 1.8em auto 1.8em; padding: 6px; border: 4px solid #eee; }
div.photoDesc { margin: 0 auto; padding: 10px; border: 2px solid #ccc; border-width: 1px 0; }
div.photoDesc table { margin-left: 10px; }
div.photoDesc table th { padding-right: 10px; font-weight: normal; text-align: left; }

/* 댓글-쓰기 */
/* .board .comment_write { clear: both; width: auto; margin: 1em 0 6px 0px; padding: 6px 8px; border: 0; border-top: 1px solid #bbb; border-bottom: 1px solid #ddd; background: #f7f7f7; } */
.board .comment_write { clear: both; width: auto; height: 56px; margin: 1em 0 6px 0px; padding: 15px 14px 5px; border: 0; background: url(/img/board/comment_bg.gif); }
.board .comment_write fieldset { margin: 0; padding: 0; border: 0; }
.board .comment_write legend { display: none; }
.board .comment_write input.text { width: 60px; margin-right: 10px; }
.board .comment_write .grade { color: #38D; font-weight: bold; font-size: .92em; }
.board .comment_write p { margin: 4px 0 0 0; padding: 0; }
.board .comment_write textarea { width: 90%; height: 14px; background: #f4f4f4 url(/img/board/comment_text_bg.gif) no-repeat 0 50%; }
/* 댓글-목록 */
.board table.comment { clear: both; border-collapse: collapse; width: 100%; margin: 3px 0 6px 0px; border: 1px solid #bbb; border-width: 0 0 0 0; }
.board table.comment tr { text-align: center; }
.board table.comment th,.board table.comment td { border-bottom: 1px solid #ddd; padding: 4px 6px 1px 6px; white-space: nowrap;  }
.board table.comment th,.board table.comment thead,.board table.comment tfoot { background: #f4f4f4; font-weight: normal; }

.board table.comment .subject { text-align: left; height: 35px; white-space: normal; }
.board table.comment .substance { text-align: left; padding: 12px 6px; white-space: normal; }
.board table.comment .write { padding: 8px 6px 5px 6px; text-align: left; background: #f7f7f7; }
.board table.comment .write a.button_block { width: 52px; } /* 전체폭80px */
.board table.comment .grade { white-space: nowrap; width: 57px; padding: 0px 6px; }
.board table.comment .writing { white-space: normal; width: 448px; padding: 4px 6px 2px; text-align: left; }
.board table.comment .writer { white-space: nowrap; width: 42px; padding: 4px 6px 2px; }
.board table.comment .date { white-space: nowrap; width: 56px; padding: 4px 6px 2px; }
.board table.comment .del { white-space: nowrap; width: 13px; padding: 0px 6px; }

.board table.comment .pwInput { white-space: nowrap; padding: 4px 6px; color: #cc6600; background: #f7f7f7; display: none; }
.board table.comment .pwInput input.text { width: 100px; background: #fff; }
.board table.comment .pwInput .image {  }


/* 쓰기 div */
.board div.write div.fieldset { clear: both; width: auto; margin: 0 0 6px 0px; padding: 0; border-top: 3px solid #348AE1; border-bottom: 1px solid #c8c8c8; text-align: left; }
.board div.write fieldset { margin: 0; padding: 0; border: 0; } /* fieldset 태그는 브라우저별로 달라서 스타일 적용 안함.
Op, Sa : box 모델 표준 방식으로 렌더링
IE6, IE7 : border-top-width, border-bottom-width 를 height 에 포함시켜 렌더링
FF : 하위 postion: absolute; left: 0; top: 0; 가 각각 padding-left, padding-right 값을 더한값으로 렌더링
*/
.board div.write legend { display: none; }
/*.board div.write div.item { clear: both; position: relative; width: 470px; height: auto; margin: 0; padding: 4px 10px 4px 120px;
border-bottom: 1px solid #e4e4e4; background: url(/img/board/head_bg.gif) repeat-y; }*/
.board div.write div.item { clear: both; position: relative; width: 78%/* item폭입력 */; height: auto; top: -1px; margin: 0; padding: 4px 2% 4px 20%/* 폭계산=(100%-item폭78-우패딩2) */; border-top: 1px solid #eee; background: #fff /* url(/img/board/head_bg.gif) repeat-y 18% 0 */; }
*:first-child+html .board div.write div.item { padding-bottom: 1px; } * html .board div.write div.item { padding-bottom: 1px; } /* IE7, IE6 3px보정 */
.board div.write div.first { padding-top: 8px; }
.board div.write div.last { padding-bottom: 8px; border: 0; }
*:first-child+html .board div.write div.last { padding-bottom: 5px; } * html .board div.write div.last { padding-bottom: 5px; } /* IE7, IE6 3px보정 */
.board div.write div.item .head { position: absolute; left: 0; top: 0;
width: 67px; height: 100%; margin: 0; padding: 5px 10px 3px 23px;
background: url(/img/board/bu_th.gif) no-repeat 10px 6px; color: #28c; text-align: left; white-space: nowrap; }
.board div.write div.first .head { padding-top: 8px !important; background-position: 10px 9px; }
.board div.write div.last .head { padding-bottom: 8px !important; }
.board div.write div.item input.w100 { width: 100%; margin-right: -4px; } /* width: 100%; 의 경우 자신의 border-width 와 padding 값만큼 빼준다.
IE6, IE7, FF, Sf 의 width: 100%; = 부모 width 값 ==> 박스모델 너비는 폭은 자신의 bodrder, padding 값을 더한 값
IE6 는 width 가 min-width 처럼 동작하므로, 부모 width 값을 자신의 bodrder, padding 값을 더한 값만큼 늘리지만,
IE7, IE6, IE7, FF, Sf 는 부모 width가 고정값(px) 으로 정의되어 있으면 변하지 않는다.
Op 의 width: 100%; = 부모 width 값 - 자신의 bodrder - padding
*/
.board div.write div.item input.w50 { width: 50%; }
.board div.write div.item input.w40 { width: 40%; }
.board div.write div.item input.file { width: 100%; }
.board div.write div.item textarea { width: 100%; height: 180px; margin-right: -4px; margin-bottom: 4px; }
.board div.write form .fieldset div.left { clear: none; float: left; display: inline; width: 167px; }
.board div.write form .fieldset div.right { clear: none; float: left; display: inline; width: 167px; }
p.form-button { height: 24px; margin: 1em auto 0; padding: 4px 0 0 0; text-align: center; }

/* 쓰기 table */
/*.board table.write { clear: both; border-collapse: collapse; width: 100%; margin: 3px 0 6px 0px; border: 2px solid #777; border-width: 2px 0 1px; }
.board table.write tr { text-align: left; }
.board table.write tr.first td { padding-top: 6px; }
.board table.write tr.first th { padding-top: 8px; }
.board table.write tr.last td { padding-bottom: 3px; }
.board table.write tr.last th { padding-bottom: 3px; }
.board table.write td { padding: 3px 10px 3px 10px; border-bottom: 1px solid #eee; vertical-align: top; white-space: nowrap; line-height: 1.25; }
.board table.write td p { margin: 0; padding: 0; }
.board table.write td.text { padding: 5px 10px 3px 10px; }
.board table.write th { background: transparent; font-weight: normal; vertical-align: top; line-height: 1.25; }
.board table.write th.item { width: 90px; padding: 5px 10px 3px 6px; border-bottom: 1px solid #eee; background: #f7f7f7; text-align: right; white-space: nowrap; }*/

/* 쓰기 table */
.board table.write { clear: both; border-collapse: collapse; width: 100%; margin: 0 0 6px 0px; border-top: 3px solid #348AE1; border-bottom: 1px solid #c8c8c8; }
.board table.write tr { text-align: left; }
.board table.write tr.first td { padding-top: 6px; }
.board table.write tr.first th { padding-top: 8px; }
.board table.write tr.last td { padding-bottom: 3px; border: 0; }
.board table.write tr.last th { padding-bottom: 3px; border: 0; }
.board table.write td { padding: 3px 10px 3px 10px; border-bottom: 1px solid #e4e4e4; vertical-align: top; white-space: nowrap; line-height: 1.25; }
.board table.write td.cont { padding: 3px 10px 3px 10px; border-bottom: 1px solid #e4e4e4; vertical-align: top; white-space: normal; line-height: 1.25; background:#fff; }
.board table.write td p { margin: 0; padding: 0; }
.board table.write td.text { padding: 5px 10px 3px 10px; }
.board table.write th { padding: 5px 10px 3px; border-bottom: 1px solid #e4e4e4; background: #f1f1f1; color: #28c; font-weight: normal; vertical-align: top; line-height: 1.25; }
.board table.write th.item { width: 80px; padding: 5px 10px 3px 23px;
background: #f1f1f1 url(/img/board/bu_th.gif) no-repeat 10px 6px; text-align: left; white-space: nowrap; }
.board table.write th.itemset { border-right: 1px solid #e4e4e4; vertical-align: middle; }

 /* IE7, IE6 3px보정 */
*:first-child+html .board table.write td { padding-bottom: 0; }
* html .board table.write td { padding-bottom: 0; }
*:first-child+html .board table.write th.item { padding-bottom: 0; }
* html .board table.write th.item { padding-bottom: 0; }
*:first-child+html .board table.write td.text { padding-top: 3px; }
* html .board table.write td.text { padding-top: 3px; }
/* 쓰기 공통 */
.board span.required, .board span.essential { color: #f30; }
.board .explain { color: #666; font-size: .92em; font-family: 돋움; letter-spacing: -1px; }

/* 로그인 - 관리자로그인, 본인게시물 열람, 실명확인, 비공개게시판 */
.board .login { width: 420px; margin: 0 auto; padding: 0 0 24px 0; background: url(/img/board/login_box.gif) no-repeat 0 100%; }
.board .login .wrap { width: 372px; padding: 0 24px; background: url(/img/board/login_box.gif) no-repeat; }
.board .login form {  } /* form 태그에는 CSS 적용하지마세요.. 프로그래머요청 */
.board .login div.fieldset { position: relative; width: 282px; margin: 0 auto; padding: 20px 10px 15px 40px; border: 5px solid #38d; background: #fff; }
.board .login h3 { margin: 0 0 18px 0; padding: 24px 0 7px; background: transparent; color: #38d; line-height: 1.25; }
.board .login .head { display: inline; float: left; min-width: 50px; margin: 0; padding: 3px 0 1px 14px;
background: url(/img/board/bu_dt.gif) no-repeat 0 40%; text-align: left; white-space: nowrap; line-height: 1.25; }
* html .board .login .head { width: 50px; }
.board .login input.text { width: 166px; }
.board .login p { height: 25px; margin: 0; padding: 0; }
.board .login p.button { clear: both; height: auto; margin: 0; padding: 5px 0 0 0; text-align: center; }
.board .login p.login_menu { height: 24px; clear: both; margin: 1em auto 0; padding: 4px 0 0 0; text-align: center; }
.board .login img { vertical-align: top; }
.board .login .explain { height: auto; padding: 0 0 4px 68px; color: #28d; font-size: .92em; line-height: 1.28; }

/* 아이디/비밀번호 찾기 */
.board .login p.real_name { height: 26px; margin: 0; padding: 0 0 0 4em; }
.board .login p.real_name input.text { width: 102px !important; }
.board .login p.resident_num { height: 26px; margin: 0; padding: 0; }
.board .login p.resident_num input.text { width: 46px !important; }

.board #find_pw { width: 550px; }
.board #find_pw div.fieldset { width: 420px; }
.board #find_pw input.text { width: 255px; }
.board .login select { width: 317px; }
.board .login p.question,
.board .login p.questionD,
.board .login p.answer { height: 26px; margin: 0; padding: 0 0 0 2em; }
.board #find_pw p.button { position: absolute; left: 380px; top: 98px; width: 51px; height: 45px; margin: 0; padding: 0; }

/* 비밀번호 확인 */
.board .pwconfirm { position: relative; width: 100%; height: 235px; margin: 1em auto; background: url(/img/board/pwconfirm_bg.jpg) no-repeat; }
.board .pwconfirm h3,
.board .pwconfirm p.explain { display: none; }
.board .pwconfirm .fieldset { position: absolute; left: 272px; top: 132px; margin: 0; padding: 0; background: transparent; }
.board .pwconfirm .fieldset p { margin: 0 0 1em 0; padding: 0; }


/* [새창]폼 */
.openform { width: 380px; margin: 0 auto; padding: 20px 0; text-align: center; }
.openform .fieldset { position: relative; width: 270px; margin: 0 auto; padding: 20px 30px; border: 5px solid #bbb; background: #fff; }
.openform fieldset { margin: 0; padding: 0; border: 0; }
.openform legend { display: none; }
.openform select { width: 270px; height: auto; margin: 0 auto; }


/* 달력 */
.calendar  { position: relative; width: 183px; padding: 4px; border: 1px solid #bbb; background: #fcfcfc; text-align: left; }
.calendar table { width: auto; margin: 2px 0 0 0; border-collapse: collapse; border: 0; border-width: 0; }
.calendar table tr { text-align: center; }
.calendar table td { width: 25px; padding: 2px 0 0px; border: 1px solid #ddd; color: #666; }
.calendar table th { padding: 2px 0 0px; border: 1px solid #ddd; color: #666; background: #eee; font-weight: bold; }
.calendar table .sun,
.calendar table .sun a { color: #f40 !important; }
.calendar table .sat,
.calendar table .sat a { color: #07d !important; }
.calendar table .today { font-weight: bold; }
.calendar table td a {  }
.calendar table td a:hover {  }
.calendar .yearmonth {  }
.calendar .close { position: absolute; right: 4px; top: 4px; }

#from_date { display: none; /* visibility: hidden; */ position: absolute; right: 391px; top: 24px; }
#to_date { display: none; /* visibility: hidden; */ position: absolute; right: 284px; top: 24px; }


/* 프로그램머 추가 *****************************************/
/* TD 내용에 우측정열 필요 추가(박태공) */
td.aright{ text-align:right; }

/* 게시판(Board) Common Template ***********************************************************************/



