html, body {margin:0; padding:0; height:100%; min-height:100%;}
hr {display:none;}
ul, ol, form, h1, h2, h3, h4, h5, h6, dl, dt, dd {margin:0; padding:0}
img {border:none;}
a:link      {text-decoration:none}
a:visited   {text-decoration:none}
a:hover     {text-decoration:underline}
a:active    {text-decoration:none}

.clear {clear:both;}
.blank5 {height:5px; overflow:hidden; font-size:0;}
.blank7 {height:7px; overflow:hidden; font-size:0;}
.blank10 {height:10px; overflow:hidden; font-size:0;}
.blank20 {height:20px; overflow:hidden;}

.tl {text-align:left;} .tc {text-align:center;} .tr {text-align:right;}
.fl {float:left;} .fr {float:right;} .fn {float:none;}
.vm {vertical-align:middle;}
.u, a.u {text-decoration:underline;}
.ls1 {letter-spacing:-1px;}
.nb {font-weight:normal !important}

input.cx {width:10px; margin:0; padding:0; font-family:µ¸¿ò; font-size:10px; font-weight:bold; cursor:pointer;}
img.i_scrap {margin:0 0 3px 0; vertical-align:middle;}
img.i_open {margin:0 1px 4px 1px;vertical-align:middle;size:130%;}
img.button{
	right: auto; 
}
#title {
	background: #ffff;
	font-size: 1.4em;
	text-align: center;
	padding: 20px 0px 20px 0px;
}

#body {
	background: #ffff;
	font-size: 0.7em;
	text-align: center;
	padding: 20px 0px 20px 0px;
}
