@-webkit-keyframes ani{
	0%{
		color : white;
		
	}
	10%{
		
	}
	20%{
		
	}
	25%{
		color: black;
	}
	40%{
		
	}
	50%{
		color : white;
	}
	60%{
		
	}
	75%{
		color: black;
	}
	80%{
		
	}
	90%{
		color : white;
	}
	100%{
		color : white;
	}
}
body{
	background: #DDDEEE;
	font-family: Helvetica Neue,Arial;
	
}
div#main,#modal{
	background: #DDDEEE;
	height : 88%;
	padding: 10%;
	width : 79%;
	-webkit-border-radius: 8px;
	-webkit-box-align: center;
	
}
Button#ServiceView,#serchTV,#locationView{
	-webkit-border-radius: 15px;
	-webkit-box-shadow: #03c 4px 4px 3px;
	text-align: center;
	font-size: 25px;
	alignment-baseline :central;
	border : black 1px solid;
	font-weight: bold;
	padding : 4% 4%;
	margin: 3% auto;
	background-color: black;
	color : white;
	width:97%;
	height: 100%;
	-webkit-animation-name: ani;
	-webkit-animation-duration: 4s;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
}
img#context{
	alignment-baseline : central;
	margin: auto;
	width:97%;
	height: 60%;
}
h1#Banner{
	-webkit-border-radius: 9px;
	border : black 2px solid;
	padding : 5%;
	background-color: black;
	color : white;
	width: 90%;
	
}
#modal{
	-webkit-transition-duration: 3s;
	-webkit-transform: translate3d(0,600px,0);
	background-color : rgba(0,0,0,0.8);
	border-radius: 0;
	color : white;
	display: none;
	font-family: Helvetica,sans-serif;
	left : 0;
	position: absolute;
	top : 0;
}
