/****************/
/* #은 id 값설정  */
/****************/
div#container {
 width      : 50%;
 border : #bbb;
 height     : 95%;
}
Table#TV{
	width : 80%;
	heigth : 80%;
	border : black 3px groove;
	font-weight: bold;
	padding : 4% 4%;
	margin: 3% auto;
	margin-top: 20%;
	-webkit-border-radius: 5px;
	alignment-baseline : central;
}
